<h1>Anuncios: Gasfiteria</h1>

<table class="table">
  <thead>
    <tr>
        <th>
            1. Arreglar tuberias de duchas
        </th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Ciudad: Lima
            </td>
        </tr>
        <tr>
            <td>
                Descripcion: Desde hace varios meses tenemos el problemas
            </td>
        </tr>
        <tr>
            <td>
                A pagar: 2000 soles
            </td>
        </tr>
    </tbody>    
</table>

<table class="table">
  <thead>
    <tr>
        <th>
            2. Instalacion de baños
        </th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Ciudad: Lima
            </td>
        </tr>
        <tr>
            <td>
                Descripcion: Departamento necesita habilitar baños
            </td>
        </tr>
        <tr>
            <td>
                A pagar: 3300 soles
            </td>
        </tr>
    </tbody>    
</table>

<table class="table">
  <thead>
    <tr>
        <th>
            3. Limpieza de tuberias
        </th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Ciudad: Chiclayo
            </td>
        </tr>
        <tr>
            <td>
                Descripcion: Departamento necesita limpiar tuberias
            </td>
        </tr>
        <tr>
            <td>
                A pagar: 1300 soles
            </td>
        </tr>
    </tbody>    
</table>